/* GENERAL STYLES */
/* line 9, ../sass/new.scss */
html {
  background-color: #28282C;
  overflow: auto;
}

/* line 13, ../sass/new.scss */
body {
  background-color: #28282C;
  /*overflow: auto;*/
}

/* line 18, ../sass/new.scss */
*, html, body,
div, p, span, a {
  /*font-family: 'Roboto', sans-serif;*/
  font-size: 100%;
  -webkit-text-stroke: 0.1px;
  -webkit-font-smoothing: antialiased;
  word-break: break-word;
}

/* line 27, ../sass/new.scss */
*, html, body, div, p {
  color: #FCFCFC;
}

/* line 31, ../sass/new.scss */
button, .button {
  font-family: "Dosis", "Open-Sans", sans-serif;
  font-size: 100%;
  -webkit-text-stroke: 0.1px;
  -webkit-font-smoothing: antialiased;
}

/* line 38, ../sass/new.scss */
.margin-top-1em {
  margin-top: 1em;
}

/* line 42, ../sass/new.scss */
.margin-bottom-1em {
  margin-bottom: 1em;
}

/* line 46, ../sass/new.scss */
.margin-left-1em {
  margin-left: 1em;
}

/* line 50, ../sass/new.scss */
.margin-right-1em {
  margin-left: 1em;
}

/* line 54, ../sass/new.scss */
.margin-left-2em {
  margin-left: 2em;
}

/* line 58, ../sass/new.scss */
.margin-right-2em {
  margin-left: 2em;
}

/* line 62, ../sass/new.scss */
.margin-left-3em {
  margin-left: 3em;
}

/* line 66, ../sass/new.scss */
.margin-right-3em {
  margin-left: 3em;
}

/* line 70, ../sass/new.scss */
.evoke .font-green {
  color: #2FCCCB;
}

/* line 74, ../sass/new.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 78, ../sass/new.scss */
.font-weight-bold {
  font-weight: bold;
}

/* line 82, ../sass/new.scss */
.centralize-content {
  padding: 0 20%;
}

/* line 86, ../sass/new.scss */
.centralize-content-30 {
  padding: 0 30%;
}

/* line 90, ../sass/new.scss */
.evoke .row {
  max-width: none;
}

/* line 94, ../sass/new.scss */
.evoke .row .row {
  margin-left: 50px;
  margin-right: 50px;
}

/* line 99, ../sass/new.scss */
.noscroll {
  overflow: 'hidden';
}

/* Headings */
/* line 104, ../sass/new.scss */
.evoke h1, .evoke h1 a, .evoke h2, .evoke h2 a, .evoke h3, .evoke h3 a,
.evoke h4, .evoke h4 a, .evoke h5, .evoke h5 a, .evoke h6, .evoke h6 a {
  font-family: "Dosis", "Open-Sans", sans-serif;
}

/* line 109, ../sass/new.scss */
.evoke h1, .evoke h2, .evoke h3, .evoke h4, .evoke h5, .evoke h6 {
  color: #FCFCFC;
}
