Vendor/
composer.phar
Config/database.php
webroot/components
webroot/uploads/*
webroot/files/*
Plugin/AclExtras
Plugin/CakePdf
Plugin/Chosen
Plugin/DebugKit
Plugin/Media
Plugin/Upload
Plugin/Utility
tmp/
dbv/data/meta/revision
