Vendor/

composer
composer.phar

Config/amazon.php
Config/core.php
Config/database.php
Config/email.php
Config/evoke.php

webroot/components
webroot/uploads/*
webroot/files/*
webroot/img/uploads/*
Plugin/*
tmp/
dbv/data/meta/revision

sass/.sass-cache
sass/.sass-cache/*

# editor Visual Studio Code
.settings

# Nodejs
node_modules

# Sass
.sass-cache
