Vendor/
composer.phar
Config/amazon.php
Config/database.php
webroot/components
webroot/uploads/*
webroot/files/*
webroot/img/uploads/*
Plugin/AclExtras
Plugin/CakePdf
Plugin/Chosen
Plugin/DebugKit
Plugin/Media
Plugin/Upload
Plugin/Utility
tmp/
dbv/data/meta/revision

# editor Visual Studio Code
.settings

# Nodejs
node_modules