.evoke .badges-bg img{
	margin-bottom:20px;
}

.evoke .badges-bg li{
	text-align:center;
	padding-bottom:40px;
}

.evoke .badges-bg p{
	color:#fff;
	font-family: 'AlegreyaRegular';
	font-size:1.2vw;
}

.evoke .badges-bg h1{
	color:#fff;
	font-family: 'AlegreyaBold';
}

.evoke .badges-knob{
	width: 8.7vw!important;
	height: auto!important;
	position: absolute!important;
	vertical-align: middle!important;
	margin-top: 7.5px!important;
	/*margin-left: -190px!important;*/
	border: 0px!important;
	background-image: none!important;
	font-weight: bold!important;
	font-style: normal!important;
	font-variant: normal!important;
	font-size: 40px!important;
	line-height: normal!important;
	font-family: Arial!important;
	text-align: center!important;
	color: rgb(198, 88, 98)!important;
	padding: 0px!important;
	-webkit-appearance: none!important;
	background-position: initial initial!important;
	background-repeat: initial initial!important;
}

.evoke .badges-bg img{
	margin-bottom:20px;
}

.evoke .badges-bg li{
	text-align:center;
	padding-bottom:40px;
}

.evoke .badges-bg p{
	color:#fff;
	font-family: 'AlegreyaRegular';
	font-size:1.2vw;
}

.evoke .badges-bg h1{
	color:#fff;
	font-family: 'AlegreyaBold';
	font-size: 3.0vw;
}

.evoke .badges.view {
   overflow: visible;
}

.evoke .badges.view .mask,.view .content {
   height: 12vw;
}

.evoke .badges.view-first:hover img {
   -webkit-transform: none;
   -moz-transform: none;
   -o-transform: none;
   -ms-transform: none;
   transform: none;
}

.evoke .badges.mask p{
   font-size: 4vw;
   font-weight: bold;
   margin-top: 2vw;
   color:#c65862;
   text-shadow: 0px 2px 2px rgba(0,0,0, 0.6);
}