.evoke .button{
/*    font-size: 0.8rem;*/
    background-color: #2FCCCB;
    border-color: #2FCCCB;
    border-radius: 2px;
    color: #FCFCFC;
/*
    padding-right: 15px;
    padding-left: 15px;
*/
}