
.evoke.chat-bg{
	/*background-color:#343642;
	margin-bottom:30px;
	border-bottom: 5px solid #182537;
	border-top: 5px solid #182537;*/
	background-color: #DAE3FF;
	/*margin-bottom: 30px;*/
	/*margin-left: -30px;*/
	/*padding-left: 30px;*/

	border-bottom: 1px solid #AEB6CC;
	text-align: left;
}

.evoke.chat-bg ul{
	margin-bottom: 0;
	list-style-type: none;
	margin: 0px 0px 0px;
	padding: 0px 0px 0px;
}

.evoke.chat-bg li{
	border-bottom: 1px solid #AEB6CC;
}

.evoke.chat-bg li a{
	padding: 10px 20px 10px;
	/*margin-bottom: 0;*/
	/*display: inline-block;*/
}

.evoke.chat-bg li a {
	display: block;
}

.evoke.chat-bg a{
	font-size: 1vw;
	font-family: 'AlegreyaBold';
	color:#252525;
	/*text-shadow: 0px 3px 2px rgba(0,0,0, 0.6);*/
}

.evoke.chat-bg li:hover{
	/*padding: 10px 20px 10px;*/
	background-color: #AEB6CC;
	color:#fff;
	/*margin-bottom: 0;*/
	/*display: inline-block;*/
}

.evoke.chat-bg a:hover{
	color:#fff;
}

.evoke.chat-bg a:active{
	color:#000;
}
.chat-current{
	background-color: #000;
	color:#fff;
}
.evoke.chat-current a{
	color:#fff;
}
.evoke.msg-holder {
	width: 100%;
}

.evoke.chat-container {
	width: 100%;
	min-height: 20vw;
	max-height: 20vw;
	overflow: auto;
	background-color: white;
}