/* GENERAL STYLES */

html, body {
	background-color: #333333;
	/*overflow-x: hidden;*/
}

*, html, body,
button, div, p, span, a,
.button {
	font-family: 'Raleway', 'Arial', sans-serif;
	font-size: 100%;
	line-height: 1.618;
	color: #cccccc;
	-webkit-text-stroke: 0.1px;
	-webkit-font-smoothing: antialiased;
}

h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a {
	font-family: 'Orbitron', 'Open Sans', 'Helvetica', 'Courier New', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	color: #cccccc;
}

button, .button {
	text-transform: uppercase;
	color: #26dee0;
	background-color: #333333;
	border: 1px solid #26dee0;
}

.hidden {
	visibility: hidden;
	display: none;
}

/* Colors */
.text-color-important {
	color: #26dee0;
}

.text-color-highlight {
	color: #26dee0;
}

/* Foundation elements */
.reveal-modal.large {
	margin-left: -35%;
	width: 70%!important;
}

.flex-video-new {
  position: relative;
  padding-top: 1.5625rem;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 1rem;
  overflow: hidden; }
  .flex-video-new.widescreen {
    padding-bottom: 57.25%; }
  .flex-video-new.vimeo {
    padding-top: 0; }
  .flex-video-new iframe, .flex-video-new object, .flex-video-new embed, .flex-video-new video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* OVERRIDES STANDARD ROW WIDTH WITH OUR STANDARD */
.evoke .row.standard-width {
    width: 90%;
    max-width: 90%;
}

/* OVERRIDES STANDARD ROW WIDTH WITH FULL WIDTH */
.evoke .full-width {
    width: 100%;
    max-width: 100%;
}

/* HEIGHT */
.evoke .full-height {
	height: 100%;
	max-height: 100%;
}

/* SPACINGS, MARGINS, PADDINGS */

.evoke .bg-min-height{
	min-height:800px;
}

.margins-0{
	margin:0!important;
}

.evoke .margin.top-05 {
	margin-top: 0.5em;
}

.evoke .margin.top {
	margin-top: 1em;
}

.evoke .margin.top-2 {
	margin-top: 2em;
}

.evoke .margin.top-5 {
	margin-top: 5em;
}

.evoke .margin.top-6{
	margin-top: 6vw;
}

.evoke .margin.left {
	margin-left: 1em;
}

.evoke .margin.left-2 {
	margin-left: 2em;
}

.evoke .margin-left-13{
	margin-left: 13%;
}

.evoke .margin.bottom-0 {
	margin-bottom: 0;
}

.evoke .margin.bottom {
	margin-bottom: 1em;
}

.evoke .margin.bottom-1 {
	margin-bottom: 1em;
}

.evoke .margin.bottom-2 {
	margin-bottom: 2em;
}

.evoke .margin.bottom-4 {
	margin-bottom: 4em;
}

.evoke .padding.all-05 {
	padding: 0.5em;
}

.evoke .padding.top-03 {
	padding-top: 0.3em;
}

.evoke .padding.top-05 {
	padding-top: 0.5em;
}

.evoke .padding.top-1 {
	padding-top: 1em;
}

.evoke .padding.top-2 {
	padding-top: 2em;
}

.evoke .padding.top-5 {
	padding-top: 5em;
}

.evoke .padding.left-2 {
	padding-left: 2em;
}

.evoke .padding.left-5 {
	padding-left: 5em;
}

.evoke .padding.bottom-1 {
	padding-bottom: 1em;
}

.evoke .padding.bottom-2 {
	padding-bottom: 2em;
}

.evoke .padding.right-2 {
	padding-right: 2em;
}

.evoke .padding.right-5 {
	padding-right: 5em;
}

.evoke .body-padding {
	padding: 0px 50px;
}

.evoke .min-height{
	height:500px;
}

/* Alignment */
/* Align with table and table-cell */
.evoke .vertical-align-top {
	vertical-align: top;
}

.evoke .vertical-align-middle {
	vertical-align: middle;
}

.evoke .vertical-align-bottom {
	vertical-align: bottom;
}

.evoke .table {
	display: table;
}

.evoke .table-cell {
	display: table-cell;
}

/* Align with a ghost-block above */
.evoke .centering-block {
	text-align: center;
}
 
.evoke .centering-block:before {
	content: '';
	display: inline-block;
	height: 100%; 
	vertical-align: middle;
	margin-right: -0.25em; /* Adjusts for spacing */
 }
 
.evoke .centered-block {
	display: inline-block;
	vertical-align: middle;
 }

/* Opacity */
.evoke .opacity-05 {
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}

/* Forms */
input[type=text]:focus, input[type=email]:focus, input[type=number]:focus, 
input[type=password]:focus, input[type=search]:focus, input[type=url]:focus,  textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, input[type=email]:focus, input[type=number]:focus, 
input[type=password]:focus, input[type=search]:focus, input[type=url]:focus, textarea:focus {
  box-shadow: 0 0 5px #26dee0;
  border: 1px solid #26dee0;
}



/* --------------------------- */
/* GRADIENT */
/* --------------------------- */
.evoke .gradient-on-top {
	background: #292929;/* Old Browsers */
	background: -moz-linear-gradient(top, #292929 0%, #333333 50px); /* FF3.6+ */
	background: -webkit-gradient(left top, left bottom, color-stop(0%, #292929), color-stop(50px, #333333));/* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, #292929 0%, #333333 50px); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #292929 0%, #333333 50px); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #292929 0%, #333333 50px); /* IE 10+ */
	background: linear-gradient(to bottom, #292929 0%, #333333 50px);/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#292929', endColorstr='#333333', GradientType=0 );/* IE6-9 */
}


/* --------------------------- */
/* IMAGES */
/* --------------------------- */
.evoke .img-caption-bottom {
	position: absolute;
	bottom: 0em;
	left: 0em;
}


/* --------------------------- */
/* BACKGROUND */
/* --------------------------- */
.evoke .background-center {
	background-position: center;
}

.evoke .background-cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.evoke .background-color-dark-opacity-05 {
	background: rgba(0,0,0,.5);
}

.evoke .img-circular {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

/* --------------------------- */
/* BORDER */
/* --------------------------- */
.evoke .border-style-solid {
	border-style: solid;
}

.evoke .border-color-highlight {
	border-color: #26dee0;
}

.evoke .border-width-02 {
	border-width: 0.2em;
}

/*****************************/
/* TABS - Triangle and line  */
/*****************************/
.tabs-style-linetriangle .tab-image {
	max-width: 200px;
	width: 100px; /* Fallback for older browsers */
	height: 100px; /* Fallback for older browsers */
	width: 10vw; /* Newer browsers */
	height: 10vw; /* Newer browsers */
}

.tabs-style-linetriangle .tab-image img {
	padding: 10%;
	width: 100%;
	height: 100%;
}

.tabs-style-linetriangle ul li.tab-title a:hover {
	background-color: transparent;
}

.tabs-style-linetriangle ul li.tab-title a {
	overflow: visible;
	border-bottom: 1px solid #26dee0;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	background-color: transparent;
	padding: 1rem 2rem;
}

.tabs-style-linetriangle ul li.tab-title.active a {
	background-color: transparent;
}

.tabs-style-linetriangle ul a span, .tabs-style-linetriangle ul li.tab-title.active a span {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1em;
}

.tabs-style-linetriangle ul li.tab-title.active a:after, 
.tabs-style-linetriangle ul li.tab-title.active a:before {
	position: absolute;
	top: 100%;
	left: 50%;
	width: 0;
	height: 0;
	border: solid transparent;
	content: '';
	pointer-events: none;
}

.tabs-style-linetriangle ul li.tab-title.active a:after {
	margin-left: -10px;
	border-width: 10px;
	border-top-color: #26dee0;
}

.tabs-style-linetriangle ul li.tab-title.active a:before {
	margin-left: -11px;
	border-width: 11px;
	border-top-color: #26dee0;
}

@media screen and (max-width: 18em) {
	.tabs-style-linetriangle ul li.tab-title a {
		padding: 1rem 1rem;
	}
}
/*
@media screen and (max-width: 58em) {
	.tabs-style-linetriangle ul {
		font-size: 0.6em;
	}
}*/

/* --------------------------- */
/* FOOTER */
/* --------------------------- */
.evoke .footer{
	z-index: 2;
	background: #292929;
	text-align: center;
	position: fixed;
	bottom: 0;
}
