/* GENERAL STYLES */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

html, body {
	font: 100%/1.618 sans-serif;
}

*, html, body,
button, div, p, span, a,
.button{
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	-webkit-text-stroke: 0.1px;
	-webkit-font-smoothing: antialiased;
}

.hidden {
	visibility: hidden;
	display: none;
}

/* OVERRIDES STANDARD ROW WIDTH */
.row.full-width {
    width: 100%;
    max-width: 100%;
}

.evoke.bg-topbar {
	background: #1f8cb2;
}

.evoke.top-bar-section li:not(.has-form) a:not(.button){
	background: #1f8cb2;
}

/* SPACINGS, MARGINS, PADDINGS */

.evoke.margin.top {
	margin-top: 1em;
}

.evoke.margin.top-2 {
	margin-top: 2em;
}

.evoke.margin.left {
	margin-left: 1em;
}

.evoke.margin.left-2 {
	margin-left: 2em;
}

.evoke.margin.bottom {
	margin-bottom: 1em;
}

.evoke.padding.top-2 {
	padding-top: 2em;
}

.evoke.dashboard{
	background: url('../img/bg.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/*.evoke.agent-tag{
	background-image: url('../img/agent_tag.png');
	background-repeat: no-repeat;
	height:auto;
	width:auto;
}*/

.evoke.agent-tag h5{
	position: absolute;
	top: 40%;
	left: 40%;
}

.evoke.agent-tag img.tag{
	width:100%;
}

.evoke.agent-tag img.agent-picture{
	position: absolute;
	top: 31%;
	/* right: 50%; */
	left: 12%;
	width: 23%;
	height: 50%;
}

.evoke a.button {
	background: #1f8cb2;
	color: #ffffff;
	font-size: 0.9em;
	border-radius: 5px;
	padding: 0.4em 2em;
	margin-right: 10px;
	border-right: 3px solid #125167;
	border-bottom: 3px solid #125167;
}

.evoke.button {
	max-height: 2.5em;
	line-height: 0;
	padding-top: 1.25em;
	padding-bottom: 1.25em;
}

.evoke.panel p,
.evoke.panel h1,
.evoke.panel h2,
.evoke.panel h3,
.evoke.panel h4,
.evoke.panel h5,
.evoke.panel h6 {
	color: #fff;
}

.evoke.clearfix {
	clear: both;
}

.evoke.typeface.thin {
	font-family: 'Open Sans Light', 'Helvetica Neue', 'Arial', sans-serif;
	font-weight: lighter;
}

.evoke.typeface.strong {
	font-family: 'Open Sans Bold', 'Helvetica', 'Arial', sans-serif;
	font-weight: bolder;
}

.evoke.paragraph {
	line-height: 100%/1.618;
}

.evoke-max-width{
	max-width: none;
}

.evoke nav{
	border: none;
	background: none;
}

.name h1{
	color:#FFF;
}

.sexy_line { 
    margin: 25px 0;
    height: 1px;
    border: 0;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}

.evoke.tabs{
	background-color: #f1f1f1;
	padding: 0.7em;
	border-radius: 20px;
	border: 1px solid #bb5660;
}

.evoke.tabs dd.active a{
	background: #bb5660;
	/*border-left: 3px solid #88363c;
	border-top: 3px solid #88363c;*/
}

.evoke.tabs dd>a{
	background: #1f8cb2;
	color: #ffffff;
	font-size: 0.9em;
	border-radius: 5px;
	padding: 0.4em 0.9em;
	margin-right: 10px;
	/*border-right: 3px solid #125167;
	border-bottom: 3px solid #125167;*/
}