.evoke .forum-topic-bg{
	background-color:#fff;
	padding: 40px 40px 10px;
	border-bottom: 3px solid #efefef;
}

.evoke .forum-topic-bg.custom-padding{
	padding: 15px 30px 10px 40px;
}

.evoke .forum-topic-bg p{
	font-size: 1.4em;
}

.evoke .forum-post-bg{
	background-color:#3d3c3e;
}

.evoke .forum-post-bg table{
	border: 3px solid #16141b;
	margin-bottom:0;
	background: none;
}

.evoke .forum-post-bg tbody{
	background-color:#3d3c3e;
}

.evoke .forum-post-bg thead{
	background-color:#3d3c3e;
}

.evoke .forum-post-bg td{
	word-break: break-all;
}

.evoke .forum-post-bg td.actions{
	position: relative;
	width: 10%;
}

.evoke .forum.action-icons{
	position: absolute;
	right: 10px;
	top: 20px;
}

/*.evoke .forum.action-icons a{
	color:#c65862;
}*/

.evoke .forum-post-bg td p{
	color:#fff;
	font-size:1.2rem;
}

.evoke .forum-post-bg h6.name{
	color:#929293;
}

.evoke .forum.padding.left-2{
	padding-left: 2rem;
}

.evoke .forum.right-border{
	border-right: 3px solid #16141b
}

.evoke .forum.bubble {
	position: relative;
	/*width: 250px;*/
	height: 100px;
	padding: 0px;
	background: #efefef;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	/*padding: 10px 20px;*/
}

.evoke .forum.reply a{
	font-family:'AlegreyaRegular';
	font-size:2rem;
	color:#000;
}

.evoke .forum.bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #efefef;
	display: block;
	width: 0;
	z-index: 1;
	left: -15px;
	top: 35px;
}

.evoke .forum-topic-bg a.title{
	font-family:'AlegreyaRegular';
	font-size:2.5vw;
	color:#000;
}

.evoke .forum-topic-bg h2.reply_number, h5.reply_number{
	font-family:'AlegreyaBold';
}

.evoke .forum-topic-bg h5.name{
	font-family:'AlegreyaRegular';
	color:#67696d;
}

.evoke .forum-topic-bg p.content{
	font-family:'AlegreyaRegular';
	word-wrap:break-word;
}

.evoke .topic.icon{
	width:100px;
	height:100px;
	overflow:hidden;
}

.evoke .forum.index ul {
	border-bottom: 2px solid #47454b;
	padding: 20px 0px 0px;
	margin-bottom: 20px;
}

.evoke .forum.index a{
	color:#1f8cb2;
	font-family:'AlegreyaBold';
}

.evoke .forum.index ul h2{
	color:#fff;
	font-family:'AlegreyaBold';
}

.evoke .forum.index ul h3, .evoke .forum.index ul span{
	color:#1f8cb2;
	font-family:'AlegreyaRegular';
}

.evoke .statistics{
	background: #C9EDFF;
	border:none;
}

.evoke .statistics b{
	font-family: 'AlegreyaRegular';
	font-size: 1.3rem;
	line-height: 1.5em;
}

/*.evoke .forum.index td, .evoke .forum.index th{
	font-family:'AlegreyaRegular';
}

.evoke .forum.index td{
	font-size: 1.1rem;
}

.evoke .forum.index th{
	font-size: 1.2rem;
}*/

.evoke .topic.new label{
	text-align: left;
	font-size: 1.1rem;
	margin-bottom: 1em;
}

.evoke .topic.new .decoda-editor{
	display:inline;
}

.top-bar-section ul li.active>a {
	/* background: #008cba; */
	color: #ffffff;
}

.decoda{
	color: #fff;
	font-size: 1.2rem;
}

.decoda-quote {
	margin-bottom: 20px;
	background-color: #efefef;
	color: #000;
	font-family:'AlegreyaRegular';
}

.breadcrumb a{
	color:#252525;
	font-size:1.2rem;
}

.breadcrumb a:visited{
	color:#252525;
}