.forums .link-title{
    padding-left: 20px;
    text-align: left;
}

.forums .title{
    text-align: left;
}

.forums .description{
    text-align: justify;
    font-size: 14px;
    padding-bottom: 20px;
}

.evoke .forums.table{
    margin: auto;
}

.forums.paging{
    padding: 10px;
}

.forums .accordion-navigation{
    width: 40%;
    max-width: 60%;
    margin: auto;
    padding: 10px;
}

.forums .content{
    padding: 5px;
}

.forums .category{
    padding: 0px;
    border-style: groove;
 	border-width: 1px;
 	border-color: white;

}

.forums .category-title{
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 26px;
}

.forums .category-description{
    padding: 5px;
    font-size: 14px;
    text-align: justify;
}

.forums .category-link{
    padding-bottom: 15px;
}

.forums.post.padding{
    padding-bottom: 20px;
}

.forums.post.icon{
    text-align: right;
    width: 100%;
    margin: inherit;
    margin: 0px;
    padding: 0px;
}

.forums.post.title{
    text-align: left;
    margin: inherit;
    margin-left: 10px;
    margin-right: 0px;
    width: 100%;
}

.forums.post.author{
    text-align: left;
    margin: inherit;
    padding-top: 7px;
    margin-left: 10px;
    font-size: 14px;
}

.forums.post{
    width: 75%;
    margin: auto;
}

.forums.post.content{
    text-align: justify;
    color: black;
    margin: inherit;
    margin: 0px;
    width: 100%;
    font-size: 20px;
}