/* --------------------------- */
/* F-BASIC */
/* --------------------------- */

/* Header with options */
.evoke .froala-editor.f-basic {
	background-color: #333;
	border-radius: 5px 5px 0px 0px;
}

/* Content */
.evoke .froala-element.f-basic {
	background-color: #EAEAEA;
	border-radius: 0px 0px 5px 5px;
	color: #000;
}

.evoke .froala-element.f-basic * {
	color: #000;
}

/* Content HTML */
.evoke .f-html .froala-element.f-basic {
	color: #000;
}

.evoke .f-html .froala-element.f-basic * {
	color: #000;
}