/* OVERRIDE STYLES - FULLPAGE.JS PLUGIN */

/* Slides */
.fp-slidesNav {
	position: absolute;
	left: 0;
	margin-left: 0 !important;
	width: 100%;
	text-align: center;
	background-color: #ccc;
	opacity: 0.5;
	filter: alpha(opacity=50); /* For IE8 and earlier */
}

.fp-slidesNav.bottom {
	bottom: 200px;
}

.fp-controlArrow {
	top: auto;
}

#fp-nav li, .fp-slidesNav li {
	margin-top: 18px;
}

#fp-nav li .active span, .fp-slidesNav .active span {
	background-color: #fff;
}

#fp-nav span, .fp-slidesNav span {
	border: 2px solid #26dee0;
	width: 14px;
	height: 14px;
}