/* ribbon style */

 .green-ribbon-wrapper {
	position: relative;
}
  .green-ribbon-front {
	background-color: #56ba80;	
	height: 250px;
	width: 940px;
	/*position: relative;
	left:-70px;
	z-index: 2;*/

	width: 130%;
	margin-left: -15%;
}

  .green-ribbon-front,
  .green-ribbon-back-left,
  .green-ribbon-back-right
{
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
	-o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

  .green-ribbon-edge-topleft,
  .green-ribbon-edge-topright,
  .green-ribbon-edge-bottomleft,
  .green-ribbon-edge-bottomright {
	position: absolute;
	z-index: 1;
	border-style:solid;
	height:0px;
	width:0px;
}

  .green-ribbon-edge-topleft,
  .green-ribbon-edge-topright {
}

  .green-ribbon-edge-bottomleft,
  .green-ribbon-edge-bottomright {
	top: 180px;
}

  .green-ribbon-edge-topleft,
  .green-ribbon-edge-bottomleft {
	left: -70px;
	border-color: transparent #10532c transparent transparent;
}

  .green-ribbon-edge-topleft {
	top: -70px;
	border-width: 70px 70px 0 0;
}
  .green-ribbon-edge-bottomleft {
	border-width: 0 70px 0px 0;
}

  .green-ribbon-edge-topright,
  .green-ribbon-edge-bottomright {
	left: 800px;
	border-color: transparent transparent transparent #10532c;
}

  .green-ribbon-edge-topright {
	top: -70px;
	border-width: 70px 0 0 70px;
}
  .green-ribbon-edge-bottomright {
	border-width: 0 0 0px 70px;
}

  .green-ribbon-back-left {
	position: absolute;
	top: -70px;
	left: 0px;
	width: 0px;
	height: 180px;
		z-index: 0;
}

  .green-ribbon-back-right {
	position: absolute;
	top: -70px;
	right: 0px;
	width: 0px;
	height: 180px;
		z-index: 0;
}
