.c {
        position: relative;
            max-width: 74em;
            margin: 0 auto;
        }
        .c-list-container {
            overflow: hidden;
            position: relative;
        }
        .c-list {
            width: 99999em;
            position: relative;
            left: 0;
            -webkit-transition: left 0.5s ease-out; 
            -moz-transition: left 0.5s ease-out;  
            -o-transition: left 0.5s ease-out; 
            transition: left 0.5s ease-out;
        }
        
        .c ul{
            list-style: none;
            margin-left: 0;
        }

        .c li {
            float: left;
            position: relative;
        }
        .c li h1{
            color: #fff;
            font-family: 'AlegreyaBold';
            font-size: 2.0vw;
            position: absolute;
            top: 0;
            left: 10px;
            word-wrap: break-word;
            text-shadow: 0 0 12px rgba(0,0,0,0.85);
        }
        .c li a {
            display: block;
        }
        .c img {
            display: block;
        }
        .c h2 {
            margin-top: 0;
        }
        .summary {
            padding: 1em;
        }
        .c-nav {
            clear: both;
            overflow: hidden;
            border-top: 1px solid #808080;
        }
        .c-nav a {
            float: left;
            width: 50%;
            padding: 1em;
            -webkit-transition: opacity 0.5s ease-out; 
            -moz-transition: opacity 0.5s ease-out;  
            -o-transition: opacity 0.5s ease-out; 
            transition: opacity 0.5s ease-out;
        }
        .c-nav a.next {
            border-left: 1px solid #808080;
            text-align: right;
            color:#fff;
        }
        .c-nav a.prev {
            color:#fff;
        }
        .c-nav a.inactive {
            opacity: 0.2;
            
        }
        
       
