.evoke .sidr {
	display:none;
	position:absolute;
	top:0;
	min-height: 100%;
	z-index:30;
	width:30em;
	overflow-x:none;
	overflow-y:none;
}

@media only screen and (min-width:76em) {
	.evoke .sidr {
		width:38em;
	}
}

.evoke .sidr-inner {
	position:absolute;
	height: 100%;
	width: 100%;
}