
/* --------------------------- */
/* LOGIN */
/* --------------------------- */

.evoke .login .fullpage {
	z-index: 0;
}

/* Tabs */
.evoke .login .tabs {
	line-height: 92px;
}

.tabs-content {
	width: 90%;
	margin: auto;
}

@media all and (min-width: 650px) {
	.tabs-content {
		width: 70%;
	}
}


/* Slide */
div.evoke.slide.background-cover.active div.img-caption-bottom {
	width: 50%;
}


/* --------------------------- */
/* MATCHING RESULTS AND PROFILE */
/* --------------------------- */
.evoke .user-panel .profile-picture {
	margin: -100px auto 20px auto;
}

.evoke .profile-picture {
	height: 150px;
	width: 125px;
}

.evoke .profile-picture.small {
	height: 100px;
	width: 80px;
}

/* Profile picture */
.evoke .profile-picture.smallest {
	height: 50px;
	width: 40px;
}

.evoke .user-panel .profile-content {
	margin-top: 100px;
}

.evoke #radar-graph {
	margin-top: -50px;
}

.evoke .border-top-divisor {
	border-top: 1px solid #292929;
}
.evoke .border-right-divisor {
	border-right: 1px solid #292929;
}

.evoke .profile-sidebar, .evoke .profile-sidebar .p {
	font-size: 0.9rem;
}