
/* --------------------------- */
/* LOGIN */
/* --------------------------- */

.evoke .login.facebook-icon {
	color: #1d649f;
	margin-top: 0.2em;
}
.evoke .login.google-icon {
	color: #9c4040;
	margin-top: 0.2em;
	font-weight: bold;
}

.evoke .login .fullpage {
	z-index: 0;
}

.evoke .login .tabs {
	line-height: 92px;
}

div.evoke.slide.background-cover.active div.img-caption-bottom {
	width: 50%;
}