.edit-user-issues{
	float:left;
}

/* USERS CONTROLLER STYLES */

.evoke.profile.picture.wrapper {
	width: 200px;
	height: 200px;
	overflow: hidden;
}

.evoke.profile.picture {
	width: 100%;
	height: auto;
}

.evoke.profile.info {
	max-width: 60%;
}

.evoke.login.topbar {
	background: #0d0d10;
}

.evoke.login.topbar img{
	display: block;
	margin: 60px auto 20px;
}

.evoke.login.background{
	background: url('../img/login_bg.png');
	background-repeat: no-repeat;
	/*background-size: 100%;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*height:700px;*/
}

.welcome{
	text-align: center;
	font-size: 1.7em;
	margin-bottom: 30px;
}

#login-columns{
	position: absolute;
	top: 50px;
	left: 30px;
}

.columns h4{
	font-family: 'SBB';
	font-size: 1.25em;
}

.columns h5{
	font-family: 'AlegreyaBold';
	font-size: 1.25em;
}

.evoke.login.padding-bottom{
	padding-bottom: 50px;
}

.evoke.login a.button{
	width: 100%;
	border-radius: 7px;
	padding: 1.50em 0em;
}

.evoke.login a.button.facebook{
	background:#4a6fa7;
}

.evoke.login a.button.facebook i{
	position: absolute; 
	top: 10px; 
	left: 15px;
}

.evoke.login a.button.google{
	background:#c43c1d;
}

.evoke.login a.button.google img{
	position: absolute; 
	left: 4px; 
	top: 5px;
}

.evoke.login a.button.signup{
	background:#1f8cb2;
}

.evoke.login a.button.signup img{
	position: absolute; 
	left: 0; 
	top: 3px;
}

.evoke.login.top-border{
	border-top: 2px solid #a7a7a7;
	/*padding-top: 10px;*/
}

.evoke.login.bottom-border{
	border-bottom: 2px solid #a7a7a7;
	/*padding-top: 10px;*/
}

.evoke.login.password{
	display: inline; 
	font-size: 0.6em; 
	color: #454545;
}

.evoke.login.video-bar{
	position: absolute;
	top: -17px;
	left: 50%;
}

.evoke.register-tag{
	bottom:300px;
	left: 18%;
}