$bg-color: #28282C;
$default-green: #2FCCCB;
$default-green-selected: #009393;
$font-dosis: 'Dosis', 'Source Sans Pro', sans-serif;
$font-source: 'Source Sans Pro', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-off-white: #FCFCFC;
$top-bar-bg: #2B2C31;

@import 'partials/topbar';
@import 'partials/admin_panel';
@import 'partials/profile';
@import 'partials/fullpage_plugin';
@import 'partials/forum';
@import 'partials/matching';
@import 'partials/timeline';

/* GENERAL STYLES */
// html {
// 	background-color: $bg-color;
// 	overflow: auto;
// }
// body {
// 	background-color: $bg-color;
// 	position: relative;
// }

// *, html, body,
// div, p, span, a {
// 	font-family: $font-dosis;
// 	font-size: 100%;
// 	-webkit-text-stroke: 0.1px;
// 	-webkit-font-smoothing: antialiased;
// 	word-break: break-word;
// }

*, html, body, div, p {
	// color: #cccccc;
    color: $font-off-white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: $top-bar-bg;
}

body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

// button, .button {
// 	font-family: $font-dosis;
// 	font-size: 100%;
// 	-webkit-text-stroke: 0.1px;
// 	-webkit-font-smoothing: antialiased;
// }

.margin-top-05em{
  margin-top: 0.5em;
}

.margin-top-1em{
  margin-top: 1em;
}

.margin-top-15em{
  margin-top: 1.5em;
}

.margin-top-2em{
  margin-top:2em;
}

.margin-top-3em{
  margin-top:3em;
}

.margin-bottom-1em{
  margin-bottom: 1em;
}

.margin-bottom-15em{
  margin-bottom: 1.5em;
}

.margin-left-1em{
  margin-left:1em;
}

.margin-right-1em{
  margin-right:1em;
}

.margin-bottom-2em{
  margin-bottom:2em;
}

.margin-left-2em{
  margin-left:2em;
}

.margin-right-2em{
  margin-right:2em;
}

.margin-left-3em{
  margin-left:3em;
}

.margin-right-3em{
  margin-right:3em;
}

.padding-top-1em{
  padding-top: 1em;
}

.padding-bottom-1em{
  padding-bottom: 1em;
}

.font-gray{
    color: $bg-color;
}

.font-green, .evoke .font-green{
  color: #2FCCCB;
}

.uppercase, .evoke .uppercase{
  text-transform: uppercase;
}

.font-weight-bold, .evoke .font-weight-bold{
  font-weight: bold;
}

.centralize-content{
  padding: 0 20%;
}

.centralize-content-30{
  padding: 0 30%;
}

.text-align-left{
	text-align: left;
}

.text-align-right{
	text-align: right;
}

.gray-block{
	background-color:#202023;
	border-radius:7px;
	//padding: 20px;
	padding: 10px 20px;
}

.block-green-border{
	border: 2px solid #2FCCCB;
}

// .evoke .row{
//     max-width: none;
// }

// .evoke .row .row{
//     margin-left: 50px;
//     margin-right: 50px;
// }

.noscroll {
	overflow: 'hidden';
}

.division{
	border-bottom: none;
	border-top: none;
	border-right: solid 1px #4e4e4e;
	clear: none;
	height: 45px;
	width: 0;
}

/* Visibility */

.hidden {
	display: none;
}

.evoke .hidden {
	display: none;
}
.evoke .overflow-hidden {
	overflow: hidden;
}

.text-align-center{
	text-align:center;
}

/* Level bar */

.points-bar-width{
	width: 150px;
}

.points-bar{
	height: 1em;
	background-color: #5C636B;
	border-radius: 3px;
	margin-top: .5em;
}

.full-height{
	height:100%;
}
