$bg-color-2: #3C454D;
$bg-color-3: #B7B7B7;
$font-white: #FFFFFF;
$forum-bg: #28282C;
$forum-bg-white: #ECFAFF;

.forums .link-title{
    padding-left: 20px;
    text-align: left;
}

.forums .title{
    text-align: left;
}

.forums .title.main{
    font-family: $font-dosis !important;
    color: white !important;
    background-color: $default-green !important;
    font-size: 22px !important;
}

.forums .title.main:hover{
    background-color: $default-green-selected !important;
}

.forums .description{
    text-align: justify;
    font-size: 18px;
    padding: 0px 0px 20px 0px;
    color: black;
    font-family: $font-source;
}

.evoke .forums.table{
    width: 100%;
    background-color: $forum-bg-white;
}

.evoke .forums.table .head th{
    background-color: #C1FBFF !important;
    border-style: none !important;
    border: 0px !important;
}

.evoke .forums.table .head a{
    color: black !important;
    font-size: 18px;
    -webkit-text-stroke: 0px;
}

.evoke .forums.table .head-cell{
    font-size: 22px;
}

.evoke .forums.table .cell{
    font-size: 18px;
    padding: 20px 10px 20px 10px;
    border-style: none !important;
    color: black !important;
}

.evoke .forums.table .cell a{
    color: black !important;
}

.evoke .forums.table .gray-cell{
    color: #ccc;
}

.evoke .forums.table .centered{
    text-align: center;
}

.evoke .forums.table .left{
    text-align: left;
}

.evoke .forums.table .size1{
    width: 10%;
}

.evoke .forums.table .size2{
    width: 20%;
}

.evoke .forums.table .size3{
    width: 30%;
}

.evoke .forums.table tbody:hover{
    background-color: #C1FBFF;
}

.evoke .forums.table tr{
    border-bottom: 1px solid #26dee0;
}

.forums.paging{
    padding: 5px;
}

.forums.paging .button.thin{
    padding: 5px;
    vertical-align: -40px;
    width: 30px;
}

.forums.paging .float{
    float: left;
}

.forums.paging.centered{
    text-align: center;
}

.forums .accordion-navigation{
    width: 40%;
    max-width: 60%;
    margin: auto;
    padding: 10px;
}

.forums .content{
    padding: 5px;
}

.forums .content.main{
    background-color: white !important;
}

.forums .category{
    padding: 0px;
    border-style: groove;
    border-width: 1px;
    border-color: $font-white;
    background-color: $bg-color;
    text-align: center;
}

.forums .category-title{
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 26px;
    color: $font-white;
    text-align: center;
    font-family: $font-dosis;
    text-transform: uppercase;
}

.forums .category-description{
    padding: 10px 15px 15px 10px;
    font-size: 14px;
    text-align: justify;
    color: $font-white;
}

.forums .category-link{
    padding-bottom: 15px;
}

.forums.category .button.thin{
    font-size: 20px;
}

.forums.post.padding{
    padding-bottom: 20px;
}

.forums.post.icon{
    text-align: right;
    width: 100%;
    margin: inherit;
    margin: 0px;
    padding: 0px;
}

.forums.post.title{
    text-align: left;
    margin: inherit;
    margin-left: 10px;
    margin-right: 0px;
    width: 100%;
}

.forums.post.author{
    text-align: left;
    margin: inherit;
    padding-top: 7px;
    margin-left: 10px;
    font-size: 14px;
}

.forums.post.time{
    width: 100%;
    color: black;
    padding-top: 5px;
    font-size: 14px;
}

.forums.post{
    width: 75%;
    margin: auto;
}

.forums.post.content{
    text-align: justify;
    color: black;
    margin: inherit;
    margin: 0px;
    width: 100%;
    font-size: 20px;
}

.forums.post-link.centering{
    margin: auto;
    width: 56%;
}

.forums.post-link.float{
    text-align: right;
    height: 50px;
    margin-bottom: 24px;
}

.forums.post-edit-link.float{
    text-align: right;
}

.forums.post-link.box{
    text-align: center;
    display: inline-block;
    font-size: 24px;
    padding: 12px;
}

.forums.post-edit-link.box{
    text-align: center;
    display: inline-block;
    font-size: 14px;
}

.forums.newpost-form .input.text label,
.forums.newpost-form .input.textarea label{
    font-size: 26px;
    text-align: left;
    color: $font-white;
}

.forums.newpost-form .input.textarea label{
    font-size: 26px;
    text-align: left;
    color: $font-white;
}

.forums.newpost-form textarea{
    height: 400px;
}

.forums.newpost-form{
    width: 75%;
    margin: auto;
}

.forums.newpost-legend{
    background-color: transparent;
    font-size: 26px;
}

.forums.newpost-form .button.thin{
    font-size: 35px;
    float: right;
}

.user_picture{
    float: right;
    margin-right: 15px;
}

.forums.main-title.container{
    height: 12vh;
}

.forums.main-title{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: $font-source;
    padding: 5px;
}

.forums.quote{
    color: white;
}

.forums.background-color{
    background-color: $forum-bg;
    min-height: 93vh;
}

.forums .bg-color{
    color: $bg-color;
}