.forum-background{
    background: url("../img/forum-crop-50.png") no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
    position: relative;
    min-height:200px;

    a.button.bottom{
        right: 1em;
        position: absolute;
        bottom:0;
    }
    
    a.button.top, 
    .button-top{
        right: 1em;
        position: absolute;
        top:1em;
    }
    
}

.forum-category{
    border-bottom: 1px solid $default-green;
    padding: 1em 1em 1.5em;
}