#appContainer {
  padding: 40px 20px;
}

.sequencer {
  display: block;
  width: 700px;
  float: left;
  padding-right: 50px;
}

.gridRow {
  float: left;
}

.gridRow div:first-child {
  width: 150px;
  display: table-cell;
  vertical-align: middle;
  text-transform: capitalize;
  padding-top: 6px;
}

.grid {
  float: left;
  border: 1px solid #eee;
  background: #ffffff;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.grid:hover {
  background: #999;
}

.checked {
  background: #444;
}