//colors
$text-color: #cccccc;
$text-highlight-color: #26dee0;

$dark-dark-background-color: #111111;
$dark-background-color: #252525;
$light-dark-background-color: #292929;
$panel-background-color: $dark-background-color;

$highlight-color: $text-highlight-color;
