//colors
$text-color: #cccccc;
$text-color-darker: #A0A0A0;
$text-highlight-color: #26dee0;
$text-yellow-color: #f7c71b;
$text-dark-color: #323234;

$dark-dark-background-color: #111111;
$dark-background-color: #252525;
$light-dark-background-color: #292929;
$panel-background-color: $dark-background-color;
$dark-gray-border: #464b4d;

$highlight-color: $text-highlight-color;
$disabled-color: #808080;

$facebook-color: #1d649f;
$email-color: #D7D553;
$blog-color: #00FF51;
$google-color: #9c4040;
$instagram-color: #A67D52;
$twitter-color: #3cddef;
$website-color: #D36A6A;
$loading-circle-color: #2187e7;


//fonts
$main-font: 'Raleway', 'Arial', sans-serif;
$header-font: 'Orbitron', 'Open Sans', 'Helvetica', 'Courier New', sans-serif;
